
__pycache__
*.pyc
.venv/

*.sqlite
*.sql

*sublime-project
*sublime-workspace

/.ipynb_checkpoints
/app/.ipynb_checkpoints

/config_user.ini
/app/config_user.ini

data/img/*

data/app_data
data/certbot

/.idea

app/private_key/private_key.pem
