
{% include 'plot_app/templates/header.html' %}

<h1>Browse public log files</h1>


<p>

<table id="logs_table" class="table table-striped table-bordered">
	{{ table_data }}
</table>

</p>


{% include 'plot_app/templates/footer.html' %}


<!-- include & setup DataTables library (with Bootstrap stylesheets) -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css">

<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>


<script type="text/javascript">

$(document).ready(function() {
    $('#logs_table').DataTable();
} );

</script>

