[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bokeh = "*"
"jinja2" = "*"
pyulog = "*"
simplekml = "*"
scipy = "*"
cython = "*"
pyfftw = "*"
pylint = "*"
requests = "*"
matplotlib = "*"
smopy = "*"

[dev-packages]

[requires]
python_version = "3.4"
