-i https://pypi.org/simple
astroid==2.2.5
backcall==0.1.0
bokeh==1.2.0
certifi==2019.3.9
chardet==3.0.4
cycler==0.10.0
cython==0.29.10
decorator==4.4.0
idna==2.8
ipython-genutils==0.2.0
ipython==7.5.0
isort==4.3.20
jedi==0.13.3
jinja2==2.10.1
kiwisolver==1.1.0
lazy-object-proxy==1.4.1
markupsafe==1.1.1
matplotlib>=3.0.3
mccabe==0.6.1
numpy==1.16.4
packaging==19.0
parso==0.4.0
pexpect==4.7.0 ; sys_platform != 'win32'
pickleshare==0.7.5
pillow==6.0.0
prompt-toolkit==2.0.9
ptyprocess==0.6.0
pyfftw==0.11.1
pygments==2.4.2
pylint==2.3.1
pyparsing==2.4.0
python-dateutil==2.8.0
pyulog==0.7.0
pyyaml==5.1.1
requests==2.22.0
scipy==1.3.0
simplekml==1.3.1
six==1.12.0
smopy==0.0.7
tornado==6.0.2
traitlets==4.3.2
typed-ast==1.4.0 ; implementation_name == 'cpython'
urllib3==1.25.3
wcwidth==0.1.7
wrapt==1.11.1
