/*************************
*******General******
**************************/

html {
    width: 100%;
    font-size: 110%;
}
body {
    min-width: 600px;
    max-width: 900px;
    width: 75%;
    margin: auto;
}
.content {
    margin: 2em;
    margin-top: 116px;
}
h1 {
    margin: 2em 0 0 0;
    color: #2e484c;
    font-family: 'Titillium Web', sans-serif;
    font-size: 23px;
	font-weight: 700;
    text-transform: uppercase;
}
h1 .name {
    color: #444;
    font-size: 26px;
    text-transform: none;
	padding-left: 3px;
}

/* bootstrap buttons */
.btn {
	font-weight: 400;
}

/* navigation anchor links for plots */
a.fragment {
	position: absolute;
	top: -14px;
	left: -16px;
	z-index: 100;
}
a.fragment:not(:hover) {
	color: #a8a8a8;
}

table.spaced {
	/* upload page */
	margin: 16px 0;
	width: 680px;
}
table.spaced tbody {
	background: #f9f9f9;
	border-color: #f9f9f9;
	border-style: solid;
	border-width: 16px;
}

td.left {
	padding-right: 20px;
}

.align-right{
	float: right;
}

tr .space-above > td {
	padding-top: 1em;
}


.plot-legend-box {
	border-left-style: solid;
	border-left-width: 20px;
	padding-left: 4px;
}

pre {
	/* this is used for hardfaults, or to display performance counters
	 * (this was in the official Bootstrap, but not in Bootswatch)
	 */
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 10pt;
}

#mapid { height: 500px; }

.tooltip-inner {
    text-align: left;
}


/* bokeh plots */
.bk-plot-layout {
	/* spacing between plots */
	margin-top: 12px;
}
.bk-grid-column {
	/* adjust to changed spacing */
	height: 100% !important;
}
/* bootstrap interferences */
.bk-slick-header-column {
	box-sizing: content-box;
}

/* override the bokeh font with the one used in the boostrap theme
 * (there's no option for that in theme.yaml)
 */
.bk-root {
	font-family: sans-serif !important;
}



/* browse page / DataTables */

table.dataTable {
	width: 150%;
	margin-left: -25%;
}
table.dataTable td {
	text-align: left;
}
.map_overview {
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: auto;
   margin-bottom: auto;
   transition: all 0.5s ease-in-out;
   border:10px;
}
.map_overview:hover {
   transform: scale(7);
}

/*************************
*******Loading bar******
**************************/

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #3379b7;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}


/*************************
*******Header******
**************************/


#header {
  /* the following makes it sticky */
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  /* and expand over the whole page */
  left: 0%;
  margin-left: 0px;
}

#header .navbar-brand h1 {
  padding: 0;
  margin: 0;
}

#header .navbar-brand a:hover {
  /* avoids text underlining for the image */
  text-decoration: none;
}

.dropdown-item {
	/* reduce menu item size */
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}


.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}

@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.dropdown:hover > .dropdown-menu {
	/* open submenu when hovering */
	display: block;
	-webkit-animation: fadeInUp 400ms;
	animation: fadeInUp 400ms;
}

.dropdown-menu {
	/* make sure there is no gap between the dropdown menu and the menu item */
	margin-top: 0;
}

.fa-angle-down{
	padding-left: 5px; 
}

/*************************
*******Footer******
**************************/

.copyright-text {
  margin-top: 30px;
}

.copyright-text p {
  margin-bottom: 0;
}


