
{% include 'header.html' %}

<h1>Browse public log files</h1>


<p>

</p>

<table id="logs_table" class="table table-striped table-bordered table-condensed">
	{{ table_data }}
</table>


{% include 'footer.html' %}


<!-- include & setup DataTables library (with Bootstrap stylesheets) -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css">

<script type="text/javascript" charset="utf-8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>

<script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>


<script type="text/javascript">

$(document).ready(function() {
	$('#logs_table').DataTable({
		"order": [[0, 'desc']],

		"columns": [
			null,
			null,
			{ "width": "13%" }, /* description */
			null,
			null,
			null,
			null,
			null,
			{ "width": "13%" }, /* rating */
			null,
			{ "width": "11%" } /* flight modes */
		]
	});
} );

</script>

</body>
</html>
