
    <footer id="footer">
      <div class="row">
        <div class="col-sm-12">
          <div class="copyright-text text-center">
            <p>Maps brought to you by <a target="_blank" href="https://www.mapbox.com/">MapBox</a>.</p>
            <p>3D Tiles and Viewer provided by <a target="_blank" href="https://www.mapbox.com/">CesiumJS</a>.</p>
            <p><br></p>
            <p class="sm">UI Theme (Yeti) available from <a target="_blank" href="https://bootswatch.com/">Bootswatch</a></p>
            <p class="sm">Plotted with the awesome <a target="_blank" href="http://bokeh.pydata.org">bokeh</a> library.</p>
            <p class="sm">Source code available on <a target="_blank" href="https://github.com/PX4/flight_review">GitHub</a> #OpenSource</p>
            <p>&copy; 2019 PX4 Developer Team</p>
          </div>
        </div>
      </div>
    </footer>


    {{ plot_script }}
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.0.min.js"></script>
    <!-- chosen.js: fancy select boxes (for error labels) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.3/chosen.jquery.min.js"></script>
    <!-- pace.js: automatic page load progress bar -->
    <script type="text/javascript" src="plot_app/static/js/pace.min.js"></script>
    <!-- Popper.js: required by bootstrap for tooltips -->
    <script type="text/javascript" src="plot_app/static/js/popper.min.js"></script>
    <script type="text/javascript" src="plot_app/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="plot_app/static/js/bootstrap-filestyle.min.js"></script>
    <script type="text/javascript">
    {% include 'main.js' %}
    </script>
