
    <footer id="footer">
            <div class="row">
                <div class="col-sm-12">
                    <div class="copyright-text text-center">
						<p>&copy; 2017 PX4 Team. Source on <a
						 href="https://github.com/PX4/flight_review">github</a>.
{% if is_plot_page or is_stats_page %}
						 Plotted with the awesome <a target="_blank"
						 href="http://bokeh.pydata.org">bokeh</a> library.
{% endif %}
						</p>
                    </div>
                </div>
            </div>
    </footer>
    </div>




    {{ plot_script }}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="plot_app/static/js/pace.min.js"></script>
    <script type="text/javascript" src="plot_app/static/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    {% include 'main.js' %}
    </script>
