
{% include 'header.html' %}


{% if not internal_error %}

{% if is_plot_page %}
<div class="alert alert-primary"> <!-- alternatives: alert-info, alert-primary, alert-secondary -->
  Do you need help with interpreting the plots?
  See <a href="https://docs.px4.io/en/log/flight_review.html" target="_blank" class="alert-link">here</a>.
</div>
{% endif %}

{{ title_html }}
{{ hardfault_html }}
{{ info_table_html }}
{{ error_labels_html }}

<div id="mapid"></div>

<script>
var pos_polyline = {{ pos_polyline }};
var cur_flight_mode = pos_polyline[0][2];
var cur_flight_color = pos_polyline[0][3];
var waypoint_polyline = [];
var waypoint_bounds = [];

var mymap = L.map('mapid').setView([pos_polyline[0][0], pos_polyline[0][1]],15);
L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    id: 'mapbox.satellite',
    accessToken: '{{ mapbox_api_access_token }}'
}).addTo(mymap);

for(var i=0; i<pos_polyline.length ; i++)
{
  if(pos_polyline[i][2] == cur_flight_mode)
  {
    var new_waypoint = [pos_polyline[i][0], pos_polyline[i][1]];
    waypoint_polyline.push(new_waypoint);
  }
  else
  {
    var polyline = L.polyline(waypoint_polyline, {color: cur_flight_color}).addTo(mymap);
    Array.prototype.push.apply(waypoint_bounds, waypoint_polyline);
    waypoint_polyline.length = 0;
    if(i>0)
    {
      var old_waypoint = [pos_polyline[i-1][0], pos_polyline[i-1][1]];
      waypoint_polyline.push(old_waypoint);
    }    
    cur_flight_mode = pos_polyline[i][2];
    cur_flight_color = pos_polyline[i][3];
  }
}

var polyline = L.polyline(waypoint_polyline, {color: cur_flight_color}).addTo(mymap);
Array.prototype.push.apply(waypoint_bounds, waypoint_polyline);

mymap.fitBounds(waypoint_bounds);

</script>

{% if is_plot_page %}

<div id="loading-plots" style="height: 50px;"><p><big><br/>Loading Plots...</big></p></div>
{% endif %}

{% endif %} {# internal_error #}

{{ plot_div|indent(8) }}


{% include 'footer.html' %}

</body>
</html>
