
{% include 'header.html' %}


{% if not internal_error %}

{{ title_html }}
{{ hardfault_html }}
{{ info_table_html }}
{{ error_labels_html }}

<div id="mapid"></div>

<script>
var lat_lon_focus = {{ lat_lon_focus }};
var mymap = L.map('mapid').setView([lat_lon_focus.lat, lat_lon_focus.lon],17);
L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.satellite',
    accessToken: '{{ mapbox_api_access_token }}'
}).addTo(mymap);

var kmlurl = window.location.protocol+'//'+window.location.host+'/download'+location.search+'&type=2&randnotused='+Math.random().toString(36).substring(3)

omnivore.kml(kmlurl).addTo(mymap);
</script>

{% if is_plot_page %}

<div id="loading-plots" style="height: 50px;"><p><big><br/>Loading Plots...</big></p></div>
{% endif %}

{% endif %} {# internal_error #}

{{ plot_div|indent(8) }}


{% include 'footer.html' %}

</body>
</html>
